**Features in the data set**

---


PassengerId: Passenger identifier. Not really necessary for any analysis

---


Survived: If the passenger survived the tragedy or not

---


Pclass: Socio-economic status of the passenger.
Were passengers with higher socio-economic status given higher priorities to access to life boats
Did socio-economic status and gender combined create more priority access

---


Name: name of the passenger. Not needed for analysis because it will not add any value

---


Sex: Male/Female
How did gender affect the survivability of a passenger?

---


Age: Age of the passenger in years

Were children and old age given a higher priority?

---


SibSp: Number of siblings / spouses
Did number of siblings / spouses impact the chances of survival?

---


Parch: Number of parents / children
Did number of parents / children impact the chances of survival?

---


Ticket: Ticket number of the passenger
Did ticket number indicate any higher status?

---


Fare: How much the passenger had paid for his/her travel
Does fare paid matter in survivability?

---


Cabin: The cabin number of the passenger

---


Embarked: The place where the person had embarked from
Does place of embarking affect survivability?

In [8]:
import pandas as pd
import numpy as np
import random as rnd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Get Data Sets

In [9]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
combine = [train_df, test_df]

Look Inside

In [10]:
print(train_df.columns.values)

['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

In [11]:
# shape of titanic dataset
titanic_dataset.shape

NameError: name 'titanic_dataset' is not defined

In [12]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
train_df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [14]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [15]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [16]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Deleting Rows

In [17]:
train_df.dropna()
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Deleting Column

In [18]:
train_df.dropna(axis=1)

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500
...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500

Replacing with mean/mode/median

In [21]:
train_df['Age'].isnull().sum()

177

In [22]:
train_df['Age'].mean()

29.69911764705882

In [23]:
train_df['Age'].median()

28.0

In [24]:
train_df['Age'].mode()

0    24.0
dtype: float64

In [25]:
train_df['Age'].replace(np.NaN,train_df['Age'].mean()).head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

Assigning An Unique Category

In [27]:
train_df['Cabin'].fillna('U')

0         U
1       C85
2         U
3      C123
4         U
       ...
886       U
887     B42
888       U
889    C148
890       U
Name: Cabin, Length: 891, dtype: object

In [28]:
train_df[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [29]:
train_df[['Sex', 'Survived']].groupby(['Sex'], as_index=False).mean().sort_values(by='Survived', ascending=False)

      Sex  Survived
0  female  0.742038
1    male  0.188908

In [30]:
train_df[['Embarked', 'Survived']].groupby(['Embarked'], as_index=False).mean().sort_values(by='Survived', ascending=False)

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.336957

Feature: Sex

In [31]:
n_male = data['Sex'].value_counts()['male']
n_female = data['Sex'].value_counts()['female']

df = data.groupby(['Survived', 'Sex'])[['PassengerId']].count()
df = df.reset_index('Sex')
df['percent_of_total'] = df['PassengerId'] / data.shape[0] * 100
df['percent_of_gender'] = df.apply(lambda x: x['PassengerId'] / n_male * 100 if x.Sex == 'male' else x['PassengerId'] / n_female * 100 , axis=1)
df

NameError: name 'data' is not defined

In [ ]:
ax = pd.crosstab(data['Survived'], data['Sex']).plot(kind='bar')
ax.set_ylabel('Passenger count')
_ = ax.set_title('Survived vs non-survived passenger count by Gender')

The total passenger count predominantly consists of male passengers. Where 35.24% are women and the rest 64.76% are men. The percent of women survived is far greater than that of men (74.24% > 18.89%). Gender plays a huge role in deciding who get saved and who are left behind. The crew must have considered the women and children to be saved first and then, the men.

Feature: Pclass

In [ ]:
ax = pd.crosstab(data['Survived'], data['Pclass']).plot(kind='bar')
ax.set_ylabel('Passenger count')
_ = ax.set_title('Survived vs non-survived passenger count by socio-economic class')

In [ ]:
n_1 = data['Pclass'].value_counts()[1]
n_2 = data['Pclass'].value_counts()[2]
n_3 = data['Pclass'].value_counts()[3]

def calculate_percent_class(row):
    if row['Pclass'] == 1:
        return row['PassengerId'] / n_1
    elif row['Pclass'] == 2:
        return row['PassengerId'] / n_2
    else:
        return row['PassengerId'] / n_3

df = data.groupby(['Survived', 'Pclass'])[['PassengerId']].count()
df.reset_index('Pclass', inplace=True)
df['percent_of_total'] = df['PassengerId'] / data.shape[0] * 100
df['percent_of_class'] = df.apply(lambda x: calculate_percent_class(x) * 100, axis=1)
df

Even though 1st class contains the least amount of people; 24.24% of total, The highest fraction of people that survived were from 1st class (62.96%). And unfortunately, Most number of people had their tickets booked in the 3rd class (55.1%) and the most number of people that didn't survive were from 3rd class (75.76%).

Similarily, 1st class tallied lowest in deaths (37.04%) and 3rd class tallied lowest (24.23) in survival rates. Consequently, as a persons socio economic status is higher, that chances of survival is also higher.

Feature: Age

In [ ]:
print(
    f"Mean age: {data['Age'].mean()}", 
    f"Median age: {data['Age'].median()}", 
    f"Age range: {data['Age'].min()} to {data['Age'].max()}",
    f"2nd to 3rd quartile: {data['Age'].quantile(0.25)} to {data['Age'].quantile(0.75)}",
    sep='\n'
)

data['age_group'] = pd.cut(data['Age'], bins=[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]).map(lambda x: f'{x.left}-{x.right}')
pd.crosstab(data['age_group'], data['Survived']).plot(kind='bar')

Number of people not survived seems to be disproportionately high in the age group of 20-30 against the number of people who survived. Where as the only age group where more survived are the group from 0-10. This can again be attributed to the fact that women and children were given higher priority. Most of the passengers were in the age group 20-40

In [ ]:
# Explore the Age vs Survived features
age_survived = sns.FacetGrid(dataset, col='Survived')
age_survived = age_survived.map(sns.distplot, "Age")

it seems that very young passengers have more chance to survive.

Feature: Sibsp and parch

In [ ]:
sns.countplot(x='Parch', data=data, hue='Survived')
df = pd.crosstab(data['Parch'], data['Survived'])
df['% survived'] = df[1] / (df[1] + df[0])
df['% not survived'] = df[0] / (df[1] + df[0])
df

The group of passenger with 0 number of parent/children tolled the most in deaths. The group with 1 and 2 in Parch has a slightly larger proportion of people who have survived. There is not enough data to come to an ideal conclusion for Parch > 3

In [ ]:
sns.countplot(x='SibSp', data=data, hue='Survived')
df = pd.crosstab(data['SibSp'], data['Survived'])
df['% survived'] = df[1] / (df[1] + df[0])
df['% not survived'] = df[0] / (df[1] + df[0])
df

Similar with Parch, SibSp has almost the same distribution. With SibSp = 0, the percent of people who has survived is less than the people who did not. While for passengers with SipSp = 1, the people who survived are lesser than that of not survived.

Feature: Fare

In [ ]:
sns.distplot(a=data[data['Survived'] == 0]['Fare'], label='Not Survived', ax=ax, hist=False)
sns.distplot(a=data[data['Survived'] == 1]['Fare'], label='Survived', ax=ax, hist=False)
ax.legend()

third_quantile = data['Fare'].quantile(0.75)
print(f'Third quantile: {third_quantile}')
greater = data[data['Fare'] >= third_quantile]['Survived'].value_counts()
less = data[data['Fare'] < third_quantile]['Survived'].value_counts()
df = pd.concat([greater, less], axis=1)
df.columns = [f'fare >= {third_quantile}', f'fare < {third_quantile}']
df

There is a skew in the distribution of fare paid and it is to the left. When distribution of fare is plotted but separated by survival, we can see both distributions are skewed to the left. But the density of the non-survived plot is higher than the survived plot. Indicating people who paid a higher fare had a higher chance of survival.

The 3rd quantile value of the fair is 31. And it can be seen that a higher proportion of people survived who had paid more than that amount.

The spike in the beginning of the not survived distribution can be accounted to the disproportionate amount of male passengers.

In [ ]:
g = sns.FacetGrid(train_df, col='Survived')
g.map(plt.hist, 'Age', bins=20)

In [ ]:
grid = sns.FacetGrid(train_df, col='Survived', row='Pclass', height=2.2, aspect=1.6)
grid.map(plt.hist, 'Age', alpha=0.5, bins=20)
grid.add_legend()

In [ ]:
fig , axes = plt.subplots(2, 4, figsize = (16,10) )
sns.countplot('Survived' , data = train, ax = axes[0,0])
sns.countplot('Pclass' , data = train, ax = axes[0,1])
sns.countplot('Sex' , data = train, ax = axes[0,2])
sns.countplot('SibSp' , data = train, ax = axes[0,3])
sns.countplot('Parch' , data = train, ax = axes[1,0])
sns.countplot('Embarked' , data = train, ax = axes[1,1])
sns.distplot(train['Fare'] , kde = True , ax = axes[1,2])
sns.distplot(train['Age'].dropna() , kde = True , ax = axes[1,3])

**Conclusions**

---


The sex of the passenger has quite a good impact on the survivability of the passenger.

---


People on the higher end of the socio-economic status were given more priority
Young people has a lesser chance of surviving.

---


Passengers who paid a higher fare survived better.

---


People with 0 parent / children and siblings/spouses survived less.