In [47]:
import pandas as pd
import numpy as np

In [42]:
names= ('ahmed', 'mohammed', 'mostafa', None)
students = ['student_1', 'student_2', 'student_3', 'student_4']
Books = {'science':['ram',1], 'math':'goel', 'automate':'kracs'}

In [43]:
series_1 = pd.Series(names, students)
series_1

student_1       ahmed
student_2    mohammed
student_3     mostafa
student_4        None
dtype: object

In [44]:
series_2 = pd.Series(Books)
series_2

science     [ram, 1]
math            goel
automate       kracs
dtype: object

In [45]:
series_1.index

Index(['student_1', 'student_2', 'student_3', 'student_4'], dtype='object')

In [46]:
series_2.index

Index(['science', 'math', 'automate'], dtype='object')

# Start of the Presentation

In [251]:
import csv

file_csv_1 = open('Example.csv','r')
out = csv.reader(file_csv_1)
for line in out:
    print(line)

['Programming language', ' Designed by', ' Appeared', ' Extension']
['Python', 'Guido van Rossum', ' 1991', ' .py']
['Java', 'James Gosling', ' 1995', '.java']
['C++', 'Bjarne Stroustrup', '1983', '.cpp']

In [253]:
import csv

with open('Example.csv','r')as f:
    data = csv.DictReader(f)
    for row in data:
        print(row)

{'Programming language': 'Python', ' Designed by': 'Guido van Rossum', ' Appeared': ' 1991', ' Extension': ' .py'}
{'Programming language': 'Java', ' Designed by': 'James Gosling', ' Appeared': ' 1995', ' Extension': '.java'}
{'Programming language': 'C++', ' Designed by': 'Bjarne Stroustrup', ' Appeared': '1983', ' Extension': '.cpp'}

In [256]:
import csv 
    
# field names 
fields = ['Name', 'Branch', 'Year', 'CGPA'] 
    
# data rows of csv file 
rows = [ ['Nikhil', 'COE', '2', '9.0'], 
         ['Sanchit', 'COE', '2', '9.1'], 
         ['Aditya', 'IT', '2', '9.3'], 
         ['Sagar', 'SE', '1', '9.5'], 
         ['Prateek', 'MCE', '3', '7.8'], 
         ['Sahil', 'EP', '2', '9.1']] 
    
# name of csv file 
filename = "university_records.csv"
    
# writing to csv file 
with open(filename, 'w') as csvfile: 
    # creating a csv writer object 
    csvwriter = csv.writer(csvfile) 
        
    # writing the fields 
    csvwriter.writerow(fields) 
        
    # writing the data rows 
    csvwriter.writerows(rows)

import csv

with open('university_records.csv','r')as f:
    data = csv.DictReader(f)
    for row in data:
        print(row)

{'Name': 'Nikhil', 'Branch': 'COE', 'Year': '2', 'CGPA': '9.0'}
{'Name': 'Sanchit', 'Branch': 'COE', 'Year': '2', 'CGPA': '9.1'}
{'Name': 'Aditya', 'Branch': 'IT', 'Year': '2', 'CGPA': '9.3'}
{'Name': 'Sagar', 'Branch': 'SE', 'Year': '1', 'CGPA': '9.5'}
{'Name': 'Prateek', 'Branch': 'MCE', 'Year': '3', 'CGPA': '7.8'}
{'Name': 'Sahil', 'Branch': 'EP', 'Year': '2', 'CGPA': '9.1'}

In [87]:
#import the pandas library and aliasing as pd
import pandas as pd
s = pd.Series()
print (s)

Series([], dtype: float64)

<ipython-input-87-d08149822242>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [265]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = np.array(['a','b',"ahmed",25.5])
s = pd.Series(data)
print (s)
print(len(data))
print(type(data))
type(s)

0        a
1        b
2    ahmed
3     25.5
dtype: object
4
<class 'numpy.ndarray'>

pandas.core.series.Series

In [110]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print (s)

100    a
101    b
102    c
103    d
dtype: object

In [282]:
list_1 = [1.2,2.5,3.3,5]
import numpy as np
array = np.array(list_1)
#for i in array:
#    print(i*2)
print(array*2)

[ 2.4  5.   6.6 10. ]

In [97]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print (s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [103]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve the first element
print (s[0])

1

In [121]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve a single element
print (s['a'])

1

In [115]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve the first three element
print (s[:3])

1

In [107]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve the first three element
print (s[-3:])

c    3
d    4
e    5
dtype: int64

In [116]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve multiple elements
print (s[['a','c','d']])

a    1
c    3
d    4
dtype: int64

In [122]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
s = pd.Series(8, index=[0, 1, 2, 3])
print (s)

0    8
1    8
2    8
3    8
dtype: int64

In [123]:
#import the pandas library and aliasing as pd
import pandas as pd
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

In [124]:
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print (df)

   0
0  1
1  2
2  3
3  4
4  5

In [125]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [127]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [128]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print (df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [129]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print (df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [130]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print (df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [131]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print (df1)
print (df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

In [132]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [133]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df ['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [134]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print (df)

print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']

print (df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [135]:
# Using the previous DataFrame, we will delete a column
# using del function
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print (df)

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print (df)

# using drop function
#df = df.drop(columns = 'a')
#df.drop('a', axis = 1, inplace = True)  # Axis=1 is used if we want to drop the column
                                         # Axis=0 is used if we want to drop the row(by default)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [136]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [137]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [140]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [141]:
import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print (df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [223]:
import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)

# Drop rows with label 0
df = df.drop(index = 0)

print (df)

   a  b
1  3  4
1  7  8

In [221]:
import pandas as pd
names_1 = pd.Series({'Student':'Monika', 'Purchase':'Pencil', 'cost':30})
names_2 = pd.Series({'Student':'Lalita', 'Purchase':'Pen', 'cost':70})
names_3 = pd.Series({'Student':'Purva', 'Purchase':'Eraser', 'cost':20})
df = pd.DataFrame([names_1, names_2, names_3], index=['Shop_1', 'Shop_2', 'Shop_3'])
# used to print first 5 rows of a DataFrame
df.head()
# Student who bought from shop_2
print(df.loc['Shop_2','Student'])
# 2 columns are shown only with all indices
print(df.loc[:,['cost','Student']])
df.rename(columns={'Student':'Students', 'cost':'Price'}, inplace=True)
print(df)
df.where(df['Price']>20,inplace=True)
print(df)
df.dropna(inplace=True)
print(df)
print(df[(df['Price']>20) & (df['Purchase']=='Pen')])
print(df[(df['Price']>20) | (df['Purchase']=='Pen')])

df.set_index(['Price','Students'], inplace=True)
df.reset_index(inplace=True)
df.set_index(pd.Series(['Shop_1','Shop_2']),inplace=True)
df

Lalita
        cost Student
Shop_1    30  Monika
Shop_2    70  Lalita
Shop_3    20   Purva
       Students Purchase  Price
Shop_1   Monika   Pencil     30
Shop_2   Lalita      Pen     70
Shop_3    Purva   Eraser     20
       Students Purchase  Price
Shop_1   Monika   Pencil   30.0
Shop_2   Lalita      Pen   70.0
Shop_3      NaN      NaN    NaN
       Students Purchase  Price
Shop_1   Monika   Pencil   30.0
Shop_2   Lalita      Pen   70.0
       Students Purchase  Price
Shop_2   Lalita      Pen   70.0
       Students Purchase  Price
Shop_1   Monika   Pencil   30.0
Shop_2   Lalita      Pen   70.0

        Price Students Purchase
Shop_1   30.0   Monika   Pencil
Shop_2   70.0   Lalita      Pen

In [250]:
import csv
import pandas as pd
df = pd.read_csv('nba.csv')
df.isnull().tail()
#df.notnull().head()
#print(df['Salary'].fillna(value=100000).head())

      Name   Team  Number  Position    Age  Height  Weight  College  Salary
453  False  False   False     False  False   False   False    False   False
454  False  False   False     False  False   False   False     True   False
455  False  False   False     False  False   False   False     True   False
456  False  False   False     False  False   False   False    False   False
457   True   True    True      True   True    True    True     True    True

In [245]:
import pickle
mylist = ['a', 'b', 'c', 'd']
with open('datafile.txt', 'wb') as fh:
    pickle.dump(mylist, fh)

In [246]:
import pickle
pickle_off = open ("datafile.txt", "rb")
emp = pickle.load(pickle_off)
print(emp)

['a', 'b', 'c', 'd']

In [248]:
import pickle
EmpID = {1:"Zack",2:"53050",3:"IT",4:"38",5:"Flipkart"}
pickling_on = open("EmpID.pickle.txt","wb")
pickle.dump(EmpID, pickling_on)
pickling_on.close()

In [249]:
import pickle
pickle_off = open("EmpID.pickle.", 'rb')
EmpID = pickle.load(pickle_off)
print(EmpID)

{1: 'Zack', 2: '53050', 3: 'IT', 4: '38', 5: 'Flipkart'}

# End of the Presentation

In [84]:
import csv
import pandas as pd
file_csv_1 = open('Example.csv','r')
out = pd.Series(csv.reader(file_csv_1))
out

0    [Programming language,  Designed by,  Appeared...
1              [Python, Guido van Rossum,  1991,  .py]
2                  [Java, James Gosling,  1995, .java]
3                 [C++, Bjarne Stroustrup, 1983, .cpp]
dtype: object

Series([], dtype: float64)

<ipython-input-86-d08149822242>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [294]:
# Python program to read
# json file
  
import json
  
# Opening JSON file
f = open('data.json','r')
  
# returns JSON object as 
# a dictionary
data = json.load(f)
  
# Iterating through the json
# list
for i in data['fruit']:
    print(i)
    
print(data)
# Closing file
f.close()

A
p
p
l
e
{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

In [298]:
# Python program to write JSON
# to a file
  
import json
  
# Data to be written
dictionary ={
    "name" : "sathiyajith",
    "rollno" : 56,
    "cgpa" : 8.6,
    "phonenumber" : "9976770500"
}
  
# Serializing json 
json_object = json.dumps(dictionary, indent=4)
  
# Writing to sample.json
with open("sample.json", "w") as outfile:
    outfile.write(json_object)
    
# Opening JSON file
f = open('sample.json','r')
  
# returns JSON object as 
# a dictionary
sample = json.load(f)
sample

{'name': 'sathiyajith', 'rollno': 56, 'cgpa': 8.6, 'phonenumber': '9976770500'}