# Intro to Python Day 04 Lab

Compiled by Ali Heikal

## Problem 01

Write a program to check if a file is empty or not, as a boolean.

In [6]:
import os
print(os.stat("test.txt").st_size == 0)

True

os.stat() method in python performs stat()system call on the specified path. This method is used to get status of the specified path.

## Problem 02

Write a program to sort given JSON keys and write save the output in a JSON file.

sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

In [7]:
import json

sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

print("Started writing JSON data into a file...")
with open("sampleJson.json", "w") as write_file:
    json.dump(sampleJson, write_file, indent=4, sort_keys=True)
print("Done writing JSON data into a file!")

Started writing JSON data into a file...
Done writing JSON data into a file!

## Problem 03

You are given JSON data that has nested key "salary"

{
    "company": {
        "employee": {
            "name": "emma",
            "payble": {
                "salary": 7000,
                "bonus": 800
            }
        }
    }
}

Write a program to print the value of "salary"

In [3]:
import json

sampleJson = """{ 
   "company":{ 
      "employee":{ 
         "name":"emma",
         "payble":{ 
            "salary":7000,
            "bonus":800
         }
      }
   }
}"""

data = json.loads(sampleJson)
print(data['company']['employee']['payble']['salary'])

7000

## Problem 04

Write a program to convert Vehicle Object to JSON format and print it.

In [4]:
import json

class Vehicle:
    def __init__(self, name, engine, price):
        self.name = name
        self.engine = engine
        self.price = price

vehicle = Vehicle("Toyota Rav4", "2.5L", 32000)

# Write your code here

In [5]:
import json
from json import JSONEncoder

class Vehicle:
    def __init__(self, name, engine, price):
        self.name = name
        self.engine = engine
        self.price = price

class VehicleEncoder(JSONEncoder):
        def default(self, o):
            return o.__dict__

vehicle = Vehicle("Toyota Rav4", "2.5L", 32000)

print("Encode Vehicle Object into JSON")
vehicleJson = json.dumps(vehicle, indent=4, cls=VehicleEncoder)
print(vehicleJson)

Encode Vehicle Object into JSON
{
    "name": "Toyota Rav4",
    "engine": "2.5L",
    "price": 32000
}

## Problem 05

Write a program to parse the following JSON to get all the values of key "name" and add them to an array and print it.

[
    {
        "id": 1,
        "name": "name1",
        "color": [
            "red",
            "green"
        ]
    },
    {
        "id": 2,
        "name": "name2",
        "color": [
            "pink",
            "yellow"
        ]
    }
]

In [8]:
import json

sampleJson = """[ 
   { 
      "id":1,
      "name":"name1",
      "color":[ 
         "red",
         "green"
      ]
   },
   { 
      "id":2,
      "name":"name2",
      "color":[ 
         "pink",
         "yellow"
      ]
   }
]"""

data = []
try:
    data = json.loads(sampleJson)
except Exception as e:
    print(e)

dataList = [item.get('name') for item in data]
print(dataList)

['name1', 'name2']

## Problem 06

Write a program that raises an exception when x is bigger than 5

In [9]:
x = 10
if x > 5:
    raise Exception('x should not exceed 5. The value of x was: {}'.format(x))

Exception: x should not exceed 5. The value of x was: 10

## Problem 07

Write a program that will assert that the code will be executed on a Linux system.

In [13]:
import sys
assert ('linux' in sys.platform), "This code runs on Linux only."

AssertionError: This code runs on Linux only.

## Problem 08

Write a program that implements a function linux_interaction() that asserts that the code will be executed on a Linux system.

Add linux_interaction() in a "try" clause, then create an exception handler to handle exceptions on machines not using Linux.

If there is not exception since the user is using a Linux machine, then use an "else" clause to try and open a file that does not exist, and implement an exception handler that will throw FileNotFoundError error and print it.

Also, implement a "finally" clause that prints the same message at the end of the program execution.

The main idea of this problem is to practice using try, except, else, and finally clauses, thus, feel free to create your own context if want.

In [14]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')

In [15]:
try:
    linux_interaction()
except AssertionError as error:
    print(error)
else:
    try:
        with open('file.log') as file:
            read_data = file.read()
    except FileNotFoundError as fnf_error:
        print(fnf_error)
finally:
    print('Cleaning up, irrespective of any exceptions.')

Function can only run on Linux systems.
Cleaning up, irrespective of any exceptions.

## Problem 09

Write a program to read and write DNA and protein sequences.

You are presented with a file input.txt that contains a number of DNA and protein sequences, one per line.

You are presented with a file input.txt which contains a number of DNA sequences and protein sequences, one per line. Each sequence starts with the same 14 base pair fragment – a sequencing adapter that should have been removed.

Write a program that will do the following.

(a) Trim this adapter.
(b) Write the cleaned sequences to a new file.
(c) Print the length of each sequence to the screen.

In [3]:
#a
file = open("input.txt")
for dna in file:
	last_character_position = len(dna)
	trimmed_dna = dna[14:last_character_position]
	print(trimmed_dna)

TCGATCGATCGATCGATCGATCGATCGATCGATCGATCGATC

ACTGATCGATCGATCGATCGATCGATGCTATCGTCGT

ATCGATCACGATCTATCGTACGTATGCATATCGATATCGATCGTAGTC

ACTATCGATGATCTAGCTACGATCGTAGCTGTA

ACTAGCTAGTCTCGATGCATGATCAGCTTAGCTGATGATGCTATGCA

In [4]:
#b and c
file = open("input.txt")
output = open("trimmed.txt", "w")
for dna in file:
	last_character_position = len(dna)
	trimmed_dna = dna[14:last_character_position]
	output.write(trimmed_dna)
	print("processed sequence with length " + str(len(trimmed_dna)))
file.close()
output.close()

processed sequence with length 43
processed sequence with length 38
processed sequence with length 49
processed sequence with length 34
processed sequence with length 48

## Problem 10

You are given a dataset "Automobile_data.csv"

Write a program that prints the first and last five rows.

In [1]:
import pandas as pd
df = pd.read_csv("Automobile_data.csv")
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [2]:
import pandas as pd
df = pd.read_csv("Automobile_data.csv")
df.tail(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

## Problem 11

You are given a dataset "employee_birthday.csv"

Write a program to print column names, then print the name of each employee name, their job, and which month they were born.

Also, print how many lines were processed from the csv.

In [7]:
import csv

with open('employee_birthday.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            print(f'\t{row[0]} works in the {row[1]} department, and was born in {row[2]}.')
            line_count += 1
    print(f'Processed {line_count} lines.')

Column names are name, department, birthday month
	John Smith works in the Accounting department, and was born in November.
	Erica Meyers works in the IT department, and was born in March.
Processed 3 lines.

## Problem 12

Based on problem no. 11 instead of reading data and processing it, this time you are tasked to use the data you found in the csv file to create a dictionary and write its data to a csv file.

Write a program that implements a dictionary then write the dictionary keys and values to a csv file so that your file matches the given file of problem no. 11

In [18]:
import csv

with open('employee_file2.csv', mode='w') as csv_file:
    fieldnames = ['emp_name', 'dept', 'birth_month']
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'emp_name': 'John Smith', 'dept': 'Accounting', 'birth_month': 'November'})
    writer.writerow({'emp_name': 'Erica Meyers', 'dept': 'IT', 'birth_month': 'March'})